<p>
	<%=label_tag l("redmine_field_conditions.label_enabled") %>
	<%=check_box_tag "#{@param_name}[conditions][enabled]", '1', @custom_field.conditions['enabled']  %>
	<%= l("redmine_field_conditions.label_active") %>
</p>

<% @custom_field.conditions['rules'].each_with_index do |obj, n| %>
	<%=build_conditions_form(@custom_field, obj, n)%>
<% end %>